
.formField{
    margin: auto;
    width: 50%;
    border: 2px solid magenta;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.btn{
    width:20%;
    

}

